.loginPage {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
  padding: 2rem;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
}
