.table {
  width: 100%;
  table-layout: fixed;
  padding: 1rem;
  color: var(--foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.4s ease-in forwards;
  opacity: 0;
}
